* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.img-yoga {
    display: block;
    margin: 195px auto 122px auto;
}

input {
    width: 321px;
    height: 46px;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: block;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #969696;
    padding-left: 19px;
}

.input-password {
    margin-top: 21px;
}

.forgot-password {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 35px 38px 38px 0;
    display: block;
    text-align: right;

}

button {
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 133px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.link-signup {

    color: #969696;
    margin-top: 21px;
    margin-bottom: 62px;
    text-align: center;
    display: block;
}

strong {
    color: #323232;
}

.or-paragraph {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.container {
    text-align: center;
    margin: 18px auto 80px auto;
}

.img-Link {
    margin: 0 18px;
    object-fit: cover;


}